.container {
  padding: 2rem;
}

.actions {
  display: flex;
  flex-direction: row;
  margin: 0 1rem 2rem;
  justify-content: space-between;
}

.addButton {
  justify-self: flex-end;
}

.addButton button {
  text-align: center !important;
  font-weight: 600 !important;
}

.payButton {
  margin: 0.75rem auto 0;
  max-width: 22.5rem;
  width: 100%;
  min-width: unset;
  height: 3rem;
  margin: 0 1rem;
  height: 3rem;
  min-width: 5rem;
  border-radius: 1.5rem !important;
  border: none;
}
.payButton span {
  font-size: 1rem !important;
  text-align: center;
  font-weight: 600;
}
